{% extends "base.html" %}
{% block title %}Website{% endblock %}

{% block content %}
<br>
<h1 align="center">Consulta CEP</h1>

<form action="{{ url_for('views.consulta') }}" method="POST">
    <div class="container">
        <div class="form-group">
            <div class="row">
                <div class="col-6">
                    <label for="cep">CEP:</label>
                    <input type="text" minlength="8" maxlength="8" id="cep" name="cep_busca" class="form-control"
                        required>
                    <style>
                        input[type=number]::-webkit-inner-spin-button,
                        input[type=number]::-webkit-outer-spin-button {
                            -webkit-appearance: none;
                            margin: 0;
                        }
                    </style>
                </div>
            </div>
        </div>

        <button type="submit" class="btn btn-primary">Consultar</button>
    </div>
</form>

<br>



<div class="container">
    <div class="row">
        <div class="col-4">
            <label for="cep">CEP:</label>
        </div>
        <div class="col-8">
            <label for="cep_result">{{ dic['cep'] }}</label>
        </div>
    </div>

    <div class="row">
        <div class="col-4">
            <label for="logradouro">Logradouro:</label>
        </div>
        <div class="col-8">
            <label for="logradouro_result">{{ dic['logradouro'] }}</label>
        </div>
    </div>

    <div class="row">
        <div class="col-4">
            <label for="complemento">Complemento:</label>
        </div>
        <div class="col-8">
            <label for="complemento_result">{{ dic['complemento'] }}</label>
        </div>
    </div>

    <div class="row">
        <div class="col-4">
            <label for="bairro">Bairro:</label>
        </div>
        <div class="col-8">
            <label for="bairro_result">{{ dic['bairro'] }}</label>
        </div>
    </div>

    <div class="row">
        <div class="col-4">
            <label for="localidade">Localidade:</label>
        </div>
        <div class="col-8">
            <label for="localidade_result">{{ dic['localidade'] }}</label>
        </div>
    </div>

    <div class="row">
        <div class="col-4">
            <label for="uf">UF:</label>
        </div>
        <div class="col-8">
            <label for="uf_result">{{ dic['uf'] }}</label>
        </div>
    </div>

    <div class="row">
        <div class="col-4">
            <label for="ibge">IBGE:</label>
        </div>
        <div class="col-8">
            <label for="ibge_result">{{ dic['ibge'] }}</label>
        </div>
    </div>

    <div class="row">
        <div class="col-4">
            <label for="gia">GIA:</label>
        </div>
        <div class="col-8">
            <label for="gia_result">{{ dic['gia'] }}</label>
        </div>
    </div>

    <div class="row">
        <div class="col-4">
            <label for="ddd">DDD:</label>
        </div>
        <div class="col-8">
            <label for="ddd_result">{{ dic['ddd'] }}</label>
        </div>
    </div>

    <div class="row">
        <div class="col-4">
            <label for="siafi">Siafi:</label>
        </div>
        <div class="col-8">
            <label for="siafi_result">{{ dic['siafi'] }}</label>
        </div>
    </div>

</div>

{% endblock %}